@{
    ViewBag.Title = "About Turner Real Estate Group";
}
<h2>@ViewBag.Title</h2>
<h3>Our experience will help you feel at home.</h3>

<p>
    The site will service content related to real estate, finance, and investing created by the Turner Real Estate Group.
    Our team advises clients on topics related to the operations of a real estate business. These areas range from financing, wholesaling, partnership structure, market research, and valuation.
    Please reach out to one of our team members at the following addresses for a free consultation.
    <br>
    <br />
    P: 614-867-5309
    <br />
    E: alex.turner744@gmail.com
    <br>
    <br />
    Our team has over 120 hours of formal real estate teaching, along with proffesional experience and expertise in equity and debt valuation, web development, accounting, project management, and law.
</p>
