@{
    ViewBag.Title = "Contact our Team";
}
<h2>@ViewBag.Title</h2>
<h3>Communication is the key to success, contact us for a free consulation</h3>

<address>
    35 E. Main Street<br />
    Columbus, OH <br />
    <abbr title="Phone">P:</abbr>
    614-867-5309
</address>

<address>
    
    <strong>Business Support & Consultation:</strong> <a href="mailto:alex.turner744@gmail.com">alex.turner744@gmail.com</a>
</address>