@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color:green">
    <h1>Turner Real Estate Group</h1>
    <p class="lead">Allow our industry professionals assist you in any step of your Real Estate journey.
    We offer free consultations. </p>
    
</div>

<div class="row">
    # model composition - make only after creating the controller
    # store the viewbag under the name of the field you want to bind to (ex: customerId for customer DDL)
    # atsymbol Html  account link > orders on bar > go to the index method > go to customer Orderss
    # 
    # controller info below
    # add space between "intial" and "catalog"
    # question mark after "int" or descriptor means the int requirement is optional
    # create controller in controller, MVC 5 with views Entity framework 3rd down. Choose your file from the second drop down that you made under DAL folder
    <div class="col-md-4">
        <h2>Increase Cash Flow & Capatilization Rate</h2>
        <p>
            By analyzing operating margin metrics our team can raise property cap rates by up to 10%.
        </p>
        <p><a class="btn btn-default" href="https://www.investopedia.com/terms/c/capitalizationrate.asp">Learn about Capatilization Rate &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Industry leading market research</h2>
        <p>Our custom analytics process provides precise, and up-to-date data for educated management decisions. </p>
        <p><a class="btn btn-default" href="https://www.nar.realtor/research-and-statistics">Learn about market trends &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trusted network of local industry professionals</h2>
        <p>
            Our team has access to an unparreled network of industry professionals across the nation. Let us help you choose the perfect
            contractor, lawyer, agent, accountant or whatever else you may need.
        </p>
        <p><a class="btn btn-default" href="https://www.nar.realtor/careers-in-real-estate">Learn about industry professionals &raquo;</a></p>
    </div>
</div>